{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    Career Profile
  </h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="career-title">{{ career-profile.title }}</h3>
      </div><!--//upper-row-->
    </div><!--//meta-->
    <br/>
    {% if career-profile.details %}
        <div class="details">{{ career-profile.details | markdownify }}</div><!--//details-->
      {% endif %}
    <ul type="disc" class="profile-list">
      {%for profile in career-profile.profiles %}
        <li><p>{{ profile.item }}</p></li>
      {% endfor %}
    </ul>
  </div><!--//item-->
</section><!--//section--> 
{% endif %}
